@{
    ViewBag.Title = "AntiCovid-19 Shop";
    Layout = null;
}
<!Doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="~/2.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/2.ico">


    <link rel="stylesheet" href="Design/payne/assets/css/vendor.css">

    <link rel="stylesheet" href="Design/payne/assets/css/main.css">
</head>

<body>


    <div class="ft-preloader active">
        <div class="ft-preloader-inner h-100 d-flex align-items-center justify-content-center">
            <div class="ft-child ft-bounce1"></div>
            <div class="ft-child ft-bounce2"></div>
            <div class="ft-child ft-bounce3"></div>
        </div>
    </div>

    <div class="wrapper">

        <header class="header header-default site-header header-transparent">
            <div class="header__outer">
                <div class="header__inner header--fixed">
                    <div class="container">
                        <div class="header__main">
                            <div class="header__col header__left">
                                <a href="#" class="logo">
                                    <figure class="logo--normal">
                                        <img src="/img/corona.png" width="45" height="45" alt="Logo">
                                    </figure>
                                    <figure class="logo--transparency">
                                        <img src="/img/corona.png" width="45" height="45" alt="Logo">
                                    </figure>
                                </a>
                            </div>
                            <div class="header__col header__center">
                                <nav class="main-navigation d-none d-lg-block">
                                    <ul class="mainmenu">
                                        <li class="mainmenu__item menu-item-has-children position-relative">
                                            <a href="/Products/Index1" class="mainmenu__link">Главная</a>
                                        </li>

                                        <li class="mainmenu__item menu-item-has-children position-relative">
                                            <a href="/Products" class="mainmenu__link">Все товары</a>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children position-relative">
                                            <a href="#" class="mainmenu__link">Категории</a>
                                            <div class="inner-menu">
                                                <ul class="sub-menu">
                                                    <li class="has-children">
                                                        <a href="/Category/List/Maski">Маски</a>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="/Category/List/Anti">Антисептики</a>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="/Category/List/Costume">Защитные костюмы</a>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="/Category/List/Medicine">Лекарства</a>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="/Category/List/Gloves">Перчатки</a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="mainmenu__item">
                                            <a href="/AboutUs/Index" class="mainmenu__link">О нас</a>
                                        </li>
                                        @if (User.IsInRole("admin"))
                                        {
                                            <li class="mainmenu__item menu-item-has-children position-relative">
                                                <a href="#" class="mainmenu__link">Для админа</a>
                                                <div class="inner-menu">
                                                    <ul class="sub-menu">
                                                        <li class="has-children">
                                                            <a href="/Products1">Товары</a>
                                                        </li>
                                                        <li class="has-children">
                                                            <a href="/Users">Пользователи</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            </div>

                            <div class="header__col header__right">
                                @if ((!(User.IsInRole("admin"))) && (!(User.IsInRole("user"))))
                                {

                                    <div class="toolbar-item d-none d-lg-block">
                                        <a href="/Account/Login" class="toolbar-btn">
                                            <span>Войти</span>
                                        </a>
                                    </div>
                                }

                                @if ((User.IsInRole("admin")) || (User.IsInRole("user")))
                                {
                                    
                                    <div class="toolbar-item d-none d-lg-block">
                                        <form method="post" asp-controller="Account" asp-action="Logout">
                                            <input style="background-color:white;" type="submit" value="Выйти" />
                                        </form>
                                    </div>
                                }


                                @if ((User.IsInRole("admin")) || (User.IsInRole("user")))
                                {
                                    string phrase = User.Identity.Name;
                                    string[] words = phrase.Split('@');
                                    string a = words[0];
                                    <div class="toolbar-item d-none d-lg-block">
                                        <a>
                                            <span>Здравствуйте, @a</span>
                                        </a>
                                    </div>
                                }
                                <div class="toolbar-item d-block d-lg-none">
                                    <a href="#offcanvasnav" class="hamburger-icon js-toolbar menu-btn">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>

                                <div class="toolbar-item mini-cart-btn">
                                    <a href="/ShopCart" class="mainmenu__link">
                                        <span class="mini-cart-btn__icon">
                                            <i class="flaticon-bag"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-sticky-height"></div>
            </div>
        </header>


        <main class="main-content-wrapper">

            <section class="homepage-slider mb--11pt5">
                <div class="element-carousel slick-right-bottom" data-slick-options='{
                    "slidesToShow": 1,
                    "dots": true
                }'>
                    <div class="item">
                        <div class="single-slide d-flex align-items-center bg-image"
                             data-bg-image="assets/img/slider/slider-bg-01.jpg">
                            <div class="container">
                                <div class="row align-items-center no-gutters w-100">
                                    <div class="col-lg-6 col-md-8">
                                        <div class="slider-content">
                                            <div class="slider-content__text mb--95 md-lg--80 mb-md--40 mb-sm--15">
                                                <h3 class="text-uppercase font-weight-light" data-animation="fadeInUp"
                                                    data-duration=".3s" data-delay=".3s">
                                                </h3>
                                                <h1 class="heading__primary mb--40 mb-md--20" data-animation="fadeInUp"
                                                    data-duration=".3s" data-delay=".3s">
                                                    Anti Covid-19
                                                </h1>
                                                <p class="font-weight-light" data-animation="fadeInUp"
                                                   data-duration=".3s" data-delay=".3s">
                                                    COVID-19 уже называют чумой 21 века. И это не случайно. Более 1000000 заболевших он нового вируса, сотни тысяч погибших.
                                                    В это непростое время так важно разумно подойти к такой непростой проблеме. Наш магазин предлагает вам все самое необходимое,
                                                    чтобы вы смогли защититься от этой пугающей болезни.
                                                    Мы пытаемся внести свой вклад в победу над вирусом. У нас вы сможете найти средства защиты и
                                                    товары первой необходимости по самым приятным ценам.
                                                </p>
                                            </div>
                                            <div class="slider-content__btn">
                                                <a href="/Products" class="btn-link" data-animation="fadeInUp"
                                                   data-duration=".3s" data-delay=".6s">Покупайте товары только у нас</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 offset-lg-2 col-md-4">
                                        <figure class="slider-image d-none d-md-block">
                                            <img src="~/img/Home/hm.png">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>




        </main>


        <footer class="footer bg-color pt--70 pt-xs--60" data-bg-color="#f4f8fa">
            <div class="container">
                <div class="row border-bottom pb--60 pb-sm--28 pb-xs--49">
                    <div class="col footer-column-1 mb-sm--42">
                        <div class="footer-widget">
                            <div class="textwidget">
                                <figure class="footer-logo mb--10">
                                    <img src="/img/corona.png" width="65" height="65" alt="Logo">
                                </figure>
                            </div>
                            <div class="address-widget">
                                <address>Казань</address>
                                <a href="tel:+89178964743">89178964743</a>
                                
                                <a href="mailto:RDKJaz@gmail.com">RDKJaz@gmail.com</a>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row ptb--20">
                    <div class="col-12 text-center">
                        <p class="copyright-text">AntiCovid-19 Shop &copy; 2020 Все права защищены</p>
                        <div class="social space-10">
                            <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer" class="social__link">
                                <i class="fa fa-twitter"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                            <a href="https://www.instagram.com/stopcoronavirusrf/" target="_blank" rel="noopener noreferrer" class="social__link">
                                <i class="fa fa-instagram"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <aside class="offcanvas-navigation" id="offcanvasnav">
            <div class="offcanvas-navigation__inner">
                <a href="" class="btn-close">
                    <i class="flaticon-cross"></i>
                    <span class="sr-only">Close Offcanvas Navigtion</span>
                </a>
                <div class="offcanvas-navigation__top">
                    <ul class="offcanvas-menu">
                        <li class="has-children">
                            <a href="/Products/Index1">
                                <span class="mm-text">Главная</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Products">
                                <span class="mm-text">Все товары</span>
                            </a>
                        </li>
                        <li class="has-children">
                            <a href="#">
                                <span class="mm-text">Категории</span>
                            </a>
                            <ul class="sub-menu">
                                <li class="has-children">
                                    <a href="/Category/List/Maski">
                                        <span class="overlay-menu__title">Маски</span>
                                    </a>
                                    <a href="/Category/List/Anti">
                                        <span class="overlay-menu__title">Антисептики</span>
                                    </a>
                                    <a href="/Category/List/Costume">
                                        <span class="overlay-menu__title">Защитные костюмы</span>
                                    </a>

                                    <a href="/Category/List/Medicine">
                                        <span class="overlay-menu__title">Лекарства</span>
                                    </a>
                                    <a href="/Category/List/Gloves">
                                        <span class="overlay-menu__title">Перчатки</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/AboutUs/Index">
                                <span class="mm-text">О нас</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ShopCart">
                                <span class="mm-text">Корзина</span>
                            </a>
                        </li>
                        

                        @if (User.IsInRole("admin"))
                        {
                            <li>
                                <a href="#">Для админа:</a>
                            </li>
                            <li>
                                <a href="/Products1">Товары</a>
                            </li>
                            <li>
                                <a href="/Users">Пользователи</a>
                            </li>
                        }
                        
                            @if ((!(User.IsInRole("admin"))) && (!(User.IsInRole("user"))))
                            {

                    <li>
                        <a href="/Account/Login" class="toolbar-btn">
                            Войти
                        </a>
                    </li>
                                
                            }

                            @if ((User.IsInRole("admin")) || (User.IsInRole("user")))
                            {

                    <li>
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <input style="background-color:white;" type="submit" value="Выход" />
                        </form>
                    </li>
                            }
                        

                            @if ((User.IsInRole("admin")) || (User.IsInRole("user")))
                            {
                                string phrase = User.Identity.Name;
                                string[] words = phrase.Split('@');
                                string a = words[0];
                    <li>
                        Здравствуйте, @a
                    </li>
                            }
                    </ul>
                </div>
            </div>
        </aside>

        <div class="global-overlay"></div>

        <a class="scroll-to-top" href=""><i class="fa fa-angle-double-up"></i></a>

    </div>

    <script src="Design/payne/assets/js/vendor.js"></script>
    <script src="Design/payne/assets/js/main.js"></script>
</body>

</html>